  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Overpass" rel="stylesheet">

  <!-- Bootstrap File -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- JQuery -->
  <script src="https://code.jquery.com/jquery.js"></script>
<style>
h1 {
  font-family: 'Pacifico', cursive;
  color: black;
  text-align: center;
  font-size: 750%;
}

body { 
    background: url('https://github.com/ezharandall/week-4-game/blob/master/assets/images/loose-crystals_lrg.jpg?raw=true') no-repeat center center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} 
div {
    background-color: white;
  }

.instructions{
    background-color: white;
    margin: 50px 50px 50px 50px;
    text-align: center;
    font-family: 'Overpass', sans-serif;
    font-weight: bold;
  }

.answer, .score{
  float: left;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
  height: 200px;
  width: 200px;
  text-align: center;
  font-family: 'Overpass', sans-serif;
}

.thirdRow{
  margin-right: 30px;
  margin-left: 90px;
}

#one, #two, #three, #four{
  float: left;
  height: 200px;
  width: 200px;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
}

.actual {
  clear: both;
  margin: 50px 300px 50px 300px;
  padding: 10px 10px 10px 10px;
  text-align: center;

}


</style>